In [19]:
import numpy as np
import pandas as pd
import os
import shutil
import lxml
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt

In [2]:
os.getcwd()

'/home/edloftus/code/AtinDhawan/Dog_Identifier'

In [ ]:
to_be_moved = [dirs[0] for dirs in os.walk("/home/edloftus/code/AtinDhawan/Dog_Identifier/raw_data/Annotation", topdown=False)][:-1]

In [ ]:
print('Do not run, if already run prviously')
# source_folder = "/home/edloftus/code/AtinDhawan/Dog_Identifier/raw_data/Annotation"
# target_dir = '/home/edloftus/code/AtinDhawan/Dog_Identifier/raw_data/All_Annotations'
# to_be_moved = [dirs[0] for dirs in os.walk(f'{source_folder}', topdown=False)][:-1]
# for folder_name in to_be_moved:
#     source_dir = folder_name 
#     file_names = os.listdir(source_dir)
#     for file_name in file_names:
#         if not file_name.endswith('Zone.Identifier'):
#             shutil.copy(os.path.join(source_dir, file_name), target_dir)

In [7]:
file_names = os.listdir('/home/edloftus/code/AtinDhawan/Dog_Identifier/raw_data/All_Annotations')

In [8]:
len(file_names)

20580

In [ ]:
file_names_testing = file_names[:10]

In [ ]:
path = f'/home/edloftus/code/AtinDhawan/Dog_Identifier/raw_data/All_Annotations/{file_names_testing[0]}'
with open(path) as f:
    text = f.read()
soup = BeautifulSoup(text,'html.parser')
soup

In [ ]:
annotations = []
for file_name in file_names:
    annotation = {}
    path = f'/home/edloftus/code/AtinDhawan/Dog_Identifier/raw_data/All_Annotations/{file_name}'
    with open(path) as f:
        text = f.read()
    soup = BeautifulSoup(text,'html.parser')
    annotation['file_name'] = soup.filename.get_text()
    annotation['image_width'] = int(soup.width.get_text())
    annotation['image_height'] = int(soup.height.get_text())
    annotation['image_depth'] = int(soup.depth.get_text())
    annotation['breed'] = soup.find('name').get_text()
    annotation['xmin'] = int(soup.xmin.get_text())
    annotation['xmax'] = int(soup.xmax.get_text())
    annotation['ymin'] = int(soup.ymin.get_text())
    annotation['ymax'] = int(soup.ymax.get_text())
    annotations.append(annotation)

df = pd.DataFrame(annotations)

In [3]:
df = pd.read_csv('Annotations.csv')

In [ ]:
# df.to_csv('Annotations.csv', index=False)

In [ ]:
df.describe()

In [4]:
df

,file_name,image_width,image_height,image_depth,breed,xmin,xmax,ymin,ymax
0,n02101388_3416,500,333,3,Brittany_spaniel,158,347,107,288
1,n02106382_1787,448,299,3,Bouvier_des_Flandres,181,444,45,236
2,n02104365_1158,2048,1536,3,schipperke,457,1302,57,1528
3,n02085936_9590,500,375,3,Maltese_dog,148,492,16,374
4,n02100236_3877,500,272,3,German_short-haired_pointer,217,302,32,246
...,...,...,...,...,...,...,...,...,...
20575,n02088238_11511,500,333,3,basset,0,418,34,331
20576,n02106166_6569,240,134,3,Border_collie,150,236,5,102
20577,n02098286_2502,500,375,3,West_Highland_white_terrier,43,345,43,293
20578,n02112018_13930,500,375,3,Pomeranian,175,358,35,289
20579,n02088238_9324,400,300,3,basset,35,365,94,226

In [39]:
((df.xmax) - (df.xmin)).max(),  ((df.ymax) - (df.ymin)).max()

(2735, 2025)

In [38]:
print(f'Widest image is {df.image_width.max()} pixels wide.')
print(f'Tallest image is {df.image_height.max()} pixels tall.')
print(f'Widest crop is {((df.xmax) - (df.xmin)).max()} pixels wide.')
print(f'Tallest crop  is {((df.ymax) - (df.ymin)).max()} pixels tall.')

Widest image is 3264 pixels wide.
Tallest image is 2562 pixels tall.
Widest crop is 2735 pixels wide.
Tallest crop  is 2025 pixels tall.

In [6]:
from matplotlib import image
from matplotlib import pyplot
# load image as pixel array
photo = image.imread('/home/edloftus/code/AtinDhawan/Dog_Identifier/raw_data/n02085620_326.jpg')
# summarize shape of the pixel array
photo

FileNotFoundError: [Errno 2] No such file or directory: '/home/edloftus/code/AtinDhawan/Dog_Identifier/raw_data/n02085620_326.jpg'

In [24]:
photo.shape

(500, 333, 3)

In [9]:
# 158	347	107	288
photo = image.imread('/home/edloftus/code/AtinDhawan/Dog_Identifier/raw_data/n02085620_326.jpg')
photo.shape

(4, 333, 3)

In [ ]:
df['cropped_image'] = image.imread(f'/home/edloftus/code/AtinDhawan/Dog_Identifier/raw_data/{df['file_name']}.jpg')[df['image_height']-df['ymax']:df['image_height']'df['ymin'], df['xmin']:df['xmax'],:]

In [31]:
df

,file_name,image_width,image_height,image_depth,breed,xmin,xmax,ymin,ymax
0,n02101388_3416,500,333,3,Brittany_spaniel,158,347,107,288
1,n02106382_1787,448,299,3,Bouvier_des_Flandres,181,444,45,236
2,n02104365_1158,2048,1536,3,schipperke,457,1302,57,1528
3,n02085936_9590,500,375,3,Maltese_dog,148,492,16,374
4,n02100236_3877,500,272,3,German_short-haired_pointer,217,302,32,246
...,...,...,...,...,...,...,...,...,...
20575,n02088238_11511,500,333,3,basset,0,418,34,331
20576,n02106166_6569,240,134,3,Border_collie,150,236,5,102
20577,n02098286_2502,500,375,3,West_Highland_white_terrier,43,345,43,293
20578,n02112018_13930,500,375,3,Pomeranian,175,358,35,289
20579,n02088238_9324,400,300,3,basset,35,365,94,226

Plan of action for tomorrow:
Create code to move the image files into a folder in raw_data called Images
finish the code for the cropped images column, where the slices consist of the (maxy-cropmaxy:maxy-cropminy), (maxx-cropmaxx:maxx-cropminx)
Need to see how 3d arrays can be saved, they may need to be saved as flattened images - .reshape(1, .size)

In [ ]:
to_be_moved2 = [dirs[0] for dirs in os.walk("/home/edloftus/code/AtinDhawan/Dog_Identifier/raw_data/All_Photos", topdown=False)][:-1]

In [ ]:
for folder_name in to_be_moved2:
    source_dir = folder_name
    target_dir = '/home/edloftus/code/AtinDhawan/Dog_Identifier/raw_data/All_Photos'
    
    file_names = os.listdir(source_dir)
    
    for file_name in file_names:
        if not file_name.endswith('Zone.Identifier'):
            shutil.copy(os.path.join(source_dir, file_name), target_dir)

Checking DataFrame Details

In [13]:
yes = pd.DataFrame([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])

In [14]:
for i in range(len(yes)):
    print(yes[0][i])

1
5
9

In [16]:
column = []
for i in range(len(yes)):
    column.append(yes[0][i]+yes[1][i])
column

[3, 11, 19]

In [17]:
yes['new column'] = column

In [18]:
yes

   0   1   2   3  new column
0  1   2   3   4           3
1  5   6   7   8          11
2  9  10  11  12          19